body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lexend',
    sans-serif;
    font-weight: bold;
    font-size: 1rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.MuiTypography-h1  {
  font-family: 'Lexend', sans-serif;
}

p.MuiTypography-body1 {
  font-family: 'Nothing You Could Do';
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

